.img_thumb{
    position: relative;
}

.img_icon{
    border-radius: 10px;
}

.badge_img{
    position: absolute;
    top: -6px;
    right: -6px;
}

.container_box{
    padding: 30px;
}

.text_right{
    text-align: right;
}