<ion-card>
  <img src="{{information.image}}" class="image-url" />
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size-sm=10 size-md=10>
          <ion-card-subtitle class="subtitle">{{ information.category.toUpperCase() }}</ion-card-subtitle>
          <ion-card-title>{{ information.title }}</ion-card-title>
          <ion-card-title>
            <div class="star-rating">
              <span [style.width]="star"></span>
            </div>
          </ion-card-title>
        </ion-col>
        <ion-col size-sm=2 size-md=2>
            <ion-icon name="add-circle-outline" class="add_btn" (click)="addToCart()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        {{ information.description }}
      </ion-row>
      <ion-row class="price">
        <ion-badge color="light">{{ getFormatPrice(information.price) }}</ion-badge>
      </ion-row>
      <ion-row>
        <ion-button color="primary" size= "small" class="buy_btn" routerLink="/home/detail" (click)="detailed()" >VER DETALLE</ion-button>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>