.image-url{
    width: 100%;
}

.subtitle{
    font-size: 8px;
}

.add_btn{
    font-size: 30px;
}

.add_btn:hover{
    cursor: pointer;
    color: #3780ff;
}

.buy_btn{
    width: 100%;
}

.price{
    margin: 10px 0 10px 0;
    justify-content: center;
}