<ion-grid class="busqueda">
  <ion-row>
      <ion-col size-sm=12 size-md=6 class="image_info">
        <img src="{{ product.image }}" class="image_item" />
        <div class="star-rating">
          <span [style.width]="star"></span>
        </div>
        <ion-button color="primary" class="order_btn" (click)="order()" >RESERVAR</ion-button>
        <!--<ion-button color="light" size="small" (click)="presentModal()">Ver Mapa de Localidades</ion-button>-->
      </ion-col>
      <ion-col size-sm=12 size-md=6>
        <ion-list inset=true lines="none">
          <ion-list-header color="light" class="title_info">
            <ion-label class="title_des">{{ product.title }}</ion-label>
          </ion-list-header>
          <ion-item *ngFor='let item of items'>
            <ion-icon name="{{ item.icon }}" slot="start"></ion-icon>
            <ion-label>
              <h2>{{ item.name }}</h2>
              <p>{{ item.value }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
  </ion-row>
</ion-grid>