.busqueda{
    width: 70%;
    overflow: scroll;
}

.title_info{
    display:block;
    text-align: center;
    border-radius: 5px;
}

.title_des{
    font-size: 15px;
    font-weight: bold;
}

.image_item{
    margin-top: 5%;
    width: 70%;
    border-radius: 5px;
}

.image_info{
    text-align: center;
}

.input_data{
    text-align: right;
}

.box_buy{
    padding:10px;
}