<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start" class="title-logo">
      <ion-button>
        <ion-label class="logo">Toures Balón</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="buttons-login">
      <ion-button color="light" fill="solid" (click)="presentLoginModal()">
        Iniciar Sesión
      </ion-button>
      <ion-button color="primary" fill="solid">
        Registrate
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="plan">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Planes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="event">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="transport">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Transporte</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="hotel">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>Hotel</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>