<h1>Holi</h1>
<!-- Seccion de busqueda -->
<ion-toolbar class="home__toolbar-search">
    <ion-searchbar [animated]='true' debounce="400" placeholder="Busca tu evento"
      showCancelButton="never"></ion-searchbar>
    <ion-select multiple="true" cancelText="Cancelar" okText="Seleccionar" placeholder="Categoría Evento">
        <ion-select-option value="bacon">Fútbol</ion-select-option>
        <ion-select-option value="olives">Baloncesto</ion-select-option>
        <ion-select-option value="xcheese">Volleyball</ion-select-option>
    </ion-select>
</ion-toolbar>
  <!-- Seccion de busqueda -->
<h2>Soy los planes</h2>